extends layout 
block head
    link(rel="stylesheet", href="./styles/404.css")
block body
    div.main
        h1.title 404 Not Found 
        h2.subtitle Hmm... did you type something wrong? Did I send you the wrong link?
