extends layout 
block head
    link(rel="stylesheet", href="./styles/404.css")
    
block body
    div.main
        svg.mid(viewbox="0 0 100 100", xmlns="http://www.w3.org/2000/svg")
            //- circle.stroke-3(cx="50%", cy="50%", r="45")
            //- circle.stroke-2(cx="50%", cy="50%", r="40")
            circle.stroke-1(cx="50%", cy="50%", r="35")
           
            text.title(x="50%", y="50%", dominant-baseline="middle", text-anchor="middle") 404
            text.subtitle(x="50%", y="62%", dominant-baseline="middle", text-anchor="middle") This page doesn't exist...
            text.subtitle(x="50%", y="68%", dominant-baseline="middle", text-anchor="middle") Here's a kitten