extends layout 
block head
    title About | Jaden Hou
    link(rel="stylesheet" href="./styles/normpage.css")
    link(rel="stylesheet" href="./styles/about.css")
block body
    div.main
        h1.title About Me
            h2.subtitle Hey! I'm Jaden, an aspiring student developer interested in finance, technology, photography, and finally, health and fitness.
        div.specs
            h2.sub My Specs
                hr
                
            div.skills
                div.col
                    h1.sub2 Languages
                    ul
                        li JavaScript 
                        li HTML 
                        li CSS 
                        li SCSS
                        li GraphQL
                        li TypeScript 
                        li Python
                        li Java

                div.col
                    h1.sub2 Dev Tools 
                    ul 
                        li Git 
                        li VSCode 
                        li GitHub 
                        li Webstorm
                        li PM2 
                        li Cloudflare 
            div.packages
                div.col
                    h1.sub3 NPM Packages 
                    ul
                        li ExpressJS 
                        li DiscordJS 
                        li Pug
                        li FS
                        li Apollo Server
                        li bCrypt
                div.col
                    h1.sub3 Databases
                    ul
                        li Firebase Cloud Firestore
        div.workstation
            h1.sub Workstation Specs
                hr
            div.pc
                h1.sub2 PC
                ul
                    li Ryzen 5 3600
                    li GTX 1660 Super
                    li 16 GB CL18 DDR4 3600Mhz
                    li Wraith Stealth Cooler
                    li B450 Tomahawk Max
                    li 500GB SSD Vulcan
                    li Pure Power 11 500W 80+ Gold
                    li TD500 Mesh White
                    li P12 PST 120 mm
            