extends layout 
block head
    title About | Jaden Hou
    link(rel="stylesheet", href="./styles/normpage.css")
    link(rel="stylesheet", href="./styles/about.css")
block body
    div.main
        h1.title About Me
            h2.subtitle Hey! I'm Jaden, an aspiring student developer interested in finance, technology, photography, and finally, health and fitness.
        div.skills
            div.col
                h1.sub2 Languages
                ul
                    li JavaScript 
                    li HTML 
                    li CSS 
                    li SCSS
                    li TypeScript 
                    li Python
                    li Java
            div.col
                h1.sub2 Dev Tools 
                ul 
                    li Git 
                    li VSCode 
                    li GitHub 
                    li Webstorm
                    li PM2 
                    li Cloudflare 
        div.packages
            h1.sub3 NPM Packages 
                ul
                    li ExpressJS 
                    li DiscordJS 
                    li Pug
                    li FS