extends layout 
block head
    title About | Jaden Hou
    link(rel="stylesheet" href="./styles/normpage.css")
    link(rel="stylesheet" href="./styles/about.css")
block body
    div.main
        h1.title About Me
            h2.subtitle Hey! I'm Jaden, an aspiring student developer interested in finance, technology, photography, and finally, health and fitness.
        div.specs
            h2.sub My Specs
                hr

            div.skills
                div.col
                    h1.sub2 Languages
                    ul
                        li JavaScript 
                        li HTML 
                        li CSS 
                        li SCSS
                        hr
                        li GraphQL
                        li TypeScript
                        li MaterialUI
                        li Python
                        li Java
                        li NextJS 
                        li React

                div.col
                    h1.sub2 Dev Tools 
                    ul 
                        li Git 
                        li VSCode 
                        li GitHub 
                        li WebStorm
                        li PM2 
                        li Cloudflare
                        li CI/CD 
            div.packages
                div.col
                    h1.sub3 NPM Packages 
                    ul
                        li ExpressJS 
                        li DiscordJS 
                        li Pug
                        li FS
                        li Apollo Server
                        li bCrypt
                div.col
                    h1.sub3 Databases
                    ul
                        li Firebase Cloud Firestore
        div.workstation
            h1.sub Workstation Specs
                hr
            div.cols
                div.pc
                    h1.sub2 PC
                    ul
                        li AMD Ryzen 5 3600
                        li NVIDIA GTX 1660 Super
                        li 16 GB CL18 DDR4 3600Mhz
                        li AMD Wraith Stealth Cooler
                        li MSI B450 Tomahawk Max
                        li T-Force Vulcan 500GB SSD 
                        li be quiet! Pure Power 11 500W 80+ Gold
                        li CoolerMaster TD500 Mesh White
                        li Artic P12 PST 120 mm
                div.peri
                    h1.sub2 Peripherals
                    ul
                        li Reddragon K552
                        li Razer Viper Mini
                        li XIIVIO Microphone
                        li Jabra Evolve 80
                        li Creative Pebble V2
                        li ViewSonic VX2858Sml 28" 1080p 60hz 6.50 ms
