extends layout 
block head
    title About | Jaden Hou
    link(rel="stylesheet", href="./styles/normpage.css")
    link(rel="stylesheet", href="./styles/about.css")
block body
    div.main
        h1.title About Me
            h2.subtitle Hey! I'm Jaden, an aspiring student developer interested in finance, technology, photography, and finally, health and fitness.