extends layout

block head
    title Jaden Hou
    link(rel="stylesheet", href="./styles/home.css")
    
    script(src="./scripts/onload.js" defer)
block body
    div.main
        div.container
            div.maintop
                h1.title.slide-right Jaden Hou
                h2.subtitle.slide-right phs '25
            ul.main-list
                    li.slide-in
                        a(href="/") Home
                            i.fas.fa-angle-right
                    li.slide-in
                        a(href="javascript:open('/about')") About
                            i.fas.fa-angle-right
                    li.slide-in
                        a(href="javascript:open('/portfolio')") Portfolio
                            i.fas.fa-angle-right

                    li.slide-in
                        a(href="javascript:open('/resume')") Resume
                            i.fas.fa-angle-right             
            
