doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://kit.fontawesome.com/f18b49da90.js", crossorigin="anonymous") 
        link(rel="stylesheet", href="./styles/style.css")
        block head
    body
        div.top
            block body
        nav
            ul.nav-list
                li
                    a(href="/") Home
                li
                    a(href="/photos") Photos
                li
                    a(href="/projects") Projects 
                li
                    a Resume
        