body {
    background-image: url("/assets/cat.jpg");
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1023px) {
        background-image: url("/assets/cat2.jpg");
    }
}
.main {
    // h1 {
    //     color: white;
    //     font-size: 100px;
    //     font-weight: 300;
    //     transform: translateX(0);
    //     transition: transform 1s ease, opacity 1s ease;
    //     opacity: 100%;

    //     @media screen and (max-width: 795px) {
    //         font-size: 50px;
    //     }
    // }
    // .subtitle {
    //     color: white;
    //     font-size: 30px;
    //     font-weight: 300;
    //     transform: translateX(0);
    //     transition: transform 1s ease, opacity 1s ease;
    //     opacity: 100%;
    //     @media screen and (max-width: 795px) {
    //         font-size: 25px;
    //     }
    // }
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .mid {
        --box-dem: 400px;

        height: var(--box-dem);
        width: var(--box-dem);
        .stroke-1 {
            stroke: #5cf5fa;
            stroke-dasharray: calc(3.1415 * 35 * 2 / 4);
            stroke-dashoffset: 0;
            animation: stroke1 5s ease-in-out infinite -0.3s;
            fill: rgba($color: #000000, $alpha: 0);
        }
        // .stroke-2 {
        //     stroke: #5c89fa;

        //     stroke-dasharray: calc(3.1415 * 40 * 2 /4);
        //     stroke-dashoffset: -5;
        //     animation: stroke1 5s ease-in-out infinite -0.15s;
        // }
        // .stroke-3 {
        //     stroke: #645cfa;

        //     stroke-dasharray: calc(3.1415 * 45 * 2 /4);
        //     stroke-dashoffset: -5;
        //     animation: stroke1 5s ease-in-out infinite;
        // }

        .title {
            font-weight: 300;
            font-size: 20pt;
            line-height: 95%;
            fill: white;
        }
        .subtitle {
            font-weight: normal;
            font-size: 4pt;

            fill: white;
        }
    }
}
contact {
    position: absolute;
    bottom: 0;
}

@keyframes stroke1 {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 250;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
