.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h1 {
        color: white;
        font-size: 65px;
        font-weight: 300;

        @media screen and (max-width: 795px) {
            font-size: 50px;
        }
    }
    .subtitle {
        color: white;
        font-size: 25px;
        font-weight: 300;

        @media screen and (max-width: 795px) {
            font-size: 20px;
        }
    }
    .sub {
        font-size: 35pt;
        font-weight: 300;
        hr {
            margin: 5px 0;
        }
    }
    .sub2 {
                    font-size: 30pt;
                }
                ul {
                    list-style: none;
                    li {
                        font-size: 15pt;
                    }
                }
    .specs {
        display: flex;
        flex-direction: column;

        .skills {
            display: flex;
            .col {
                flex: 1 0 200px;
                
            }
        }
        .packages {
            display: flex;
            
            .col {
                flex: 1 0 200px;
                h1 {
                    font-size: 24pt;
                }
                ul {
                    list-style: none;
                    li {
                        font-size: 15pt;
                    }
                }
            }
        }
    }
}
