.main {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    gap: 30px;
    details { 
        width: 80%;
        padding: 20px;
        border: solid 1px white;
        cursor: pointer;
        overflow: hidden;
        summary {
            font-size: 18pt;

        }
        
        p {
            margin-top: 15px;
            
        }
    }
}