.main {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    gap: 30px;
    details {
        width: 80%;
        padding: 20px;
        border: solid 1px white;
        cursor: pointer;
        
        summary {
            font-size: 18pt;
        }

        p {
            margin-top: 15px;
        }
        ul {
            list-style: inside;
            li {
                a {
                    overflow-wrap: break-word
                }
            }
        }
    }
}
