extends layout
block head 
    title Photography | Jaden Hou
    link(rel="stylesheet" href="../styles/normpage.css")
    link(rel="stylesheet" href="../styles/portfolio/photography.css")
    script(src="../scripts/portfoliopage.js" defer) 
block body
    div.main
