extends layout
block head 
    title Programming | Jaden Hou
    link(rel="stylesheet", href="../styles/normpage.css")
    link(rel="stylesheet", href="../styles/portfolio/programming.css")
    script(src="../scripts/portfoliopage.js" defer) 
block body
    div.main
        details.details
            summary Pear 
            p GraphQL API connected to Firebase Firestore that handles signups, logins, token generations, and database fetching.
                br
                br
                strong If I could make this again...
                br
                | I'd try using a auth service like Firebase Auth or try using MongoDB. I'd also create an actual login page.
                br
                br
                strong Links
                    ul 
                        li
                            a(href="https://github.com/InternetRamen/graphql-shenanigans", target="_blank") https://github.com/InternetRamen/graphql-shenanigans
        details.details
            summary Personal Blog from scratch
            p Personal blog from scratch using Express and a RESTful API.
                br
                br
                strong If I could make this again...
                br
                | I'd add a comments area and design improvements. I'd also incorporate an actual database instead of a JSON file.
                br
                br
                strong Links
                    ul 
                        li
                            a(href="https://github.com/InternetRamen/websitev2", target="_blank") https://github.com/InternetRamen/websitev2
        details.details
            summary Wyvern 
            p Personal app to update website v2 dynamically and add blog posts.
                br
                br
                strong If I could make this again...
                br
                | I'd add a comments area and design improvements. I'd also incorporate an actual database instead of a JSON file.
                br
                br
                strong Links
                    ul 
                        li
                            a(href="https://github.com/InternetRamen/websitev2", target="_blank") https://github.com/InternetRamen/websitev2
        details.details
            summary First Commenter Bot 
            p Instagram bot that comments on a post first.