extends layout
block head 
    link(rel="stylesheet", href="../styles/normpage.css")
    link(rel="stylesheet", href="../styles/portfolio/programming.css")
    script(src="../scripts/portfoliopage.js" defer) 
block body
    div.main
        details.details
            summary Personal Blog from scratch
            p Personal blog from scratch using Express and a RESTful API.
        details.details
            summary Wyvern 
            p Personal app to update website v3 dynamically.
        details.details
            summary First Commenter Bot 
            p Instagram bot that comments on a post first.